Package: com.thecasle.straw
Name: straw
Depends: mobilesubstrate, ws.hbang.common
Version: 0.0.7
Architecture: iphoneos-arm
Description: Creates banner on music item change
Maintainer: Jake Kaslewicz
Author: Jake Kaslewicz
Section: Tweaks
